P{
    margin: 0;
    padding: 0;
}
.horizontal-slider{
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.horizontal-slider::-webkit-scrollbar{
    display: none;
}
.slider-container{
    display: block;
    white-space: nowrap;
}
.item{
    display: inline-block;
    margin-right: 10px;
}
.item img{
    width: 400px;
}